html
{
  background-image: url("https://raw.githubusercontent.com/Wakabonga/loic-mennuni/main/fondsite.jpg");
  background-attachment: fixed;
}

nav {
  position: fixed;
  font-color: rgb(243,165,148);
  color: rgb(243,165,148);
}
