html
{
  background-image: url("https://raw.githubusercontent.com/Wakabonga/loic-mennuni/main/fondsite.jpg");
  background-attachment: fixed;
}

/* NAVIGATION */

nav {
  color: rgb(243,165,148);
  font-weight: bold;
  text-align: right;
  background-color: rgba(116,115,111,0.6);
  height: 50px;
}

#navul {
margin-right: 25px;
}

#navul #navli {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 35px;
  padding-top: 15px;

}

/* FIN NAVIGATION */

/*A PROPOS */

#about {
  background-color: white;
  padding-bottom: 25px
}

#photo {
  padding-left: 25px;
  padding-top: 5px;
}

#ttapropos {
  padding-left: 250px;
  padding-top: 25px;
}

#apropos {
  padding-left: 250px;
  padding-bottom: 25px;
  font-size: 20px;
}

#info {
  padding-left: 25px;
}

#bouton {
text-align: center;
}

#contact {
  background-color:crimson;
  padding:15px;
  border-radius: 25px;
}

#dlcv {
  background-color:darkgreen;
  padding:15px;
  border-radius: 25px;
}

/*FIN A PROPOS */
